__pycache__/
*.pyo

.venv
+ **/.venv
+ venv/
+ **/venv/
+ __pycache__/
+ **/__pycache__/
+ *.pyc

.git/
.gitignore

.env
.env.*
config/local_settings.py

logs/
*.log
tmp/

docker-compose/docker-compose.yml
Dockerfile.dev
Dockerfile
.idea/
.DS_Store
test_main.http
README.md
k8s/

bulk_test/