__pycache__/
*.pyc
*.pyo
.venv/

.git/
.gitignore

.env
.env.*
config/local_settings.py

logs/
*.log
tmp/

docker-compose/docker-compose.yml
Dockerfile.dev
Dockerfile
.idea/
.DS_Store
test_main.http
README.md
k8s/

bulk_test/